.main-box {
    display: inline-block;
    background-color: #9370DB;
    box-shadow: 10px 10px 0px #20B2AA;
    border-radius: 3px ;
    text-align: center;
    
}
.main-box .main-title {
    margin-bottom: 30px;
    padding-right: 130px;
}
.main-box .subtitle { 
    padding-left: 50px;
}