.time-line {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 15px;
}
.time-line::before {
    content: '';
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border: 3px dashed #9370DB;
    transform: rotate(90deg)  translateX(-20px);
    bottom: -65px;
    position: relative;

}
.time-line .title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #9370DB;
    margin-bottom: 43px;

}
.time-line .logo {
    display: flex;
    align-items: center;
    height: 140px;

}